<!DOCTYPE html>
<html>
<head>
    <title>Welcome to HYDRA!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p>HYDRA!</p>


<form method="GET" action="/signup">
   <table>
    <tr>
        <td>OracleId</td>
        <td><input type="text" name="oid" /></td>
    </tr>
    <tr>
        <td>LogonId</td>
        <td><input type="text" name="LogonId" /></td>
    </tr>
    <tr>
        <td>email</td>
        <td><input type="text" name="emailid" /></td>
    </tr>
        <tr>
        <td>password</td>
        <td><input type="text" name="password" /></td>
    </tr>
        <tr>
        <td>designation</td>
        <td><input type="text" name="designation" /></td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="submit" value="Submit"/>
        </td>
    </tr>
</table>  
</form>
</body>
</html>